.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.home {
    text-decoration: none;
    color: white;
}

.home:hover {
    color: white;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    border-bottom: 2px solid white;
    color: white;
    padding-bottom: 5px;
}

.active {
    border-bottom: 2px solid white;
    color: white;
    padding-bottom: 5px;
}