.wrapper {
  font-family: 'Comfortaa', cursive;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 100vw;
}

.modal-content {
  font-family: 'Comfortaa', cursive;
  background-color: lightgray !important;
}